<div>
	<h4>Recetas Consultadas:</h4>


	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Calorias</th>
				<th>Dificultad</th>
				<th>Temporada</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="receta in listarCtrl.recetas">
				<td><a ui-sref="showReceta({id: receta.nombreDelPlato})">{{receta.nombreDelPlato}}</a>
				</td>
				<td>
					<p>{{receta.caloriasReceta}}</p>
				</td>
				<td>
					<p>{{receta.dificultad}}</p>
				</td>
				<td>
					<p>{{receta.temporada}}</p>
				</td>
			</tr>
		</tbody>
	</table>

</div>
