<div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse"
						data-parent="#accordion1" href="#collapseOne">
						Par&aacute;metros de b&uacute;squeda
					</a>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body">
						<form>
							<div class="row">
  								<div class="col-md-6">
									<label>Nombre de la Receta</label> 
									<input type="text" name="nombreReceta" class="form-control" placeholder="Nombre" ng-model="listarCtrl.nombreReceta"> 
  								</div>
  								<div class="col-md-6">
									<label>Calorias</label> 
									<ul class="list-inline">
								<li>
								<strong>Desde:</strong>
								</li>
								<li>
									<input type="number" class="form-control" name="caloriasDesde"  ng-model="listarCtrl.caloriasDesde">									
								</li>
								<li>
								<strong>Hasta:</strong>
								</li>
								<li>
									<input type="number" class="form-control" name="caloriasHasta" ng-model="listarCtrl.caloriasHasta"></li>
								</ul>
  								</div>
  								<div class="col-md-6">
									<label>Dificultad</label> 
									<select name="dificultad"  ng-model="listarCtrl.dificultadElegida">
     								 <option ng-repeat="dificultad in listarCtrl.dificultades" value="{{option.id}}">{{dificultad}}</option>
    								</select>
  								</div>
  								<div class="col-md-6">
									<label>Temporada</label> 
									<select name="temporda"  ng-model="listarCtrl.temporadaElegida">
     								 <option ng-repeat="temporada in listarCtrl.temporadas" value="{{option.id}}">{{temporada}}</option>
    								</select>
  								</div>
  								<div class="col-md-6">
									<label>Que Contenga Ingrediente</label> 
									<input type="text" name="ingrediente"  class="form-control" placeholder="Contiene..." ng-model="listarCtrl.ingrediente"> 
  								</div>
  				
  								<div class="col-md-12">
									<br />
									<button  class="btn btn-primary" data-ng-click="listarCtrl.buscar()">Buscar</button>
										
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

<div>
	<h4>Recetas Consultadas:</h4>


	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Calorias</th>
				<th>Dificultad</th>
				<th>Temporada</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="receta in listarCtrl.recetas">
				<td><a ui-sref="showReceta({id: receta.numeroId})">{{receta.nombreDelPlato}}</a>
				</td>
				<td>
					<p>{{receta.caloriasReceta}}</p>
				</td>
				<td>
					<p>{{receta.dificultad}}</p>
				</td>
				<td>
					<p>{{receta.temporada}}</p>
				</td>
			</tr>
		</tbody>
	</table>

</div>
